<div class="modal" [class.is-active]="organizationUserStore.isShowModal()">
  <div class="modal-background"></div>
  <form class="modal-card" [formGroup]="form" (submit)="formSubmit()">
    <div class="modal-card-head">
      <p class="modal-card-title">Create new organization user</p>
      <button class="delete" aria-label="close" type="button" (click)="closeModal()"></button>
    </div>
    <div class="modal-card-body">

      <mat-form-field appearance="outline">
        <mat-label>User email address</mat-label>
        <input formControlName="email" matInput>
        @if (form.get('email')?.touched && form.get('email')?.invalid ) {
          <mat-error>This field cannot be empty</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="roleId">
          @for (role of roleStore.roles(); track role.id!){
            <mat-option [value]="role.id!">{{ role.name }}</mat-option>
          }
        </mat-select>
        @if (form.get('roleId')?.invalid){
          <mat-error>This field cannot be empty</mat-error>
        }
      </mat-form-field>

    </div>
    <div class="modal-card-foot">
      <div class="buttons">
        <button type="submit" [disabled]="form.invalid" matButton="filled">Save</button>
        <button type="button" (click)="closeModal()" matButton>Cancel</button>
      </div>
    </div>
  </form>

  <button class="modal-close is-large" type="button" (click)="closeModal()" aria-label="close"></button>
</div>
