<div class="card">
  <div class="card-content">
    <div class="media">
      <!-- Content -->
      <div class="media-content">
        <p class="is-size-5">{{userOrganization().organization.name}}</p>
        <p>{{userOrganization().role.name}}</p>
        @if (userOrganization().active){
          <span class="tag is-primary">Active</span>
        }
      </div>
      <!-- Action -->
      <div class="media-right">
        @if (userOrganization().active) {
          <div class="dropdown is-right" [class.is-active]="menuActive()">
            <div class="dropdown-trigger">
              <button matIconButton (click)="toggleDropdownMenu()">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <div class="dropdown-menu">
              <div class="dropdown-content">
                <a (click)="update()" class="dropdown-item">Edit organization</a>
                <a (click)="viewOrganizationUsers()" class="dropdown-item">View users</a>
              </div>
            </div>
          </div>
        } @else {
          <button type="button" matButton (click)="setActive()">Set active</button>
        }
      </div>
    </div>
  </div>
</div>
