<div class="modal" [class.is-active]="isActive()">
  <div class="modal-background"></div>
  <form [formGroup]="form" (submit)="formSubmit()" class="modal-card">
    <div class="modal-card-head">
      <p class="modal-card-title">Create new organization user</p>
      <button class="delete" aria-label="close" type="button" (click)="closeModal()"></button>
    </div>
    <div class="modal-card-body">

      <!-- Email -->
      <div class="field">
        <label class="label">User email address</label>
        <div class="control">
          <input
            [class.is-success]="form.get('email')?.touched && form.get('email')?.valid"
            [class.is-danger]="form.get('email')?.touched && form.get('email')?.invalid"
            formControlName="email"
            type="email"
            class="input">
        </div>
        @if (form.get('email')?.touched && form.get('email')?.invalid){
          <p class="help is-danger">This field is not valid</p>
        }
      </div>

      <!-- Role -->
      <fieldset [disabled]="!roleStore.areRolesLoaded()">
        <div class="field">
          <label class="label">Role</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select formControlName="roleId">
                @for (role of roleStore.roles(); track role.id!){
                  <option [value]="role.id!">{{role.name}}</option>
                }
              </select>
            </div>
            @if (form.get('roleId')?.touched && form.get('roleId')?.invalid){
              <p class="help is-danger">This field is not valid</p>
            }
          </div>
        </div>
      </fieldset>


    </div>
    <div class="modal-card-foot">
      <div class="buttons">
        <button class="button is-primary" type="submit" [disabled]="form.invalid">
          Create
        </button>
        <button class="button" type="button" (click)="closeModal()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>

<button class="button is-primary" type="button" (click)="openModal()">
  <span class="icon">
    <i class="bx bx-user-plus"></i>
  </span>
  <span>Add user</span>
</button>
