<div class="card app-role-card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="is-size-5">{{role().organization.name}}</p>
        @switch (role().roleType){
          @case ('OWNER'){
            <span class="tag">
              <span class="icon">
                <i class="bx bx-user"></i>
              </span>
              <span>Owner</span>
            </span>
          }
          @case ('ADMINISTRATOR'){
            <span class="tag">
              <span class="icon">
                <i class="bx bx-user"></i>
              </span>
              <span>Administrator</span>
            </span>
          }
          @case ('ACCOUNTANT'){
            <span class="tag">
              <span class="icon">
                <i class="bx bx-user"></i>
              </span>
              <span>Accountant</span>
            </span>
          }
          @default {
            <span class="tag">
              <span class="icon">
                <i class="bx bx-user"></i>
              </span>
              <span>User</span>
            </span>
          }
        }
      </div>
      <div class="media-right">
        @if (role().active) {
          <span class="tag is-primary">Active</span>
        } @else {
          <button class="button" (click)="onSetActive()">Set active</button>
        }
      </div>
    </div>
  </div>
</div>
