@if (organizationStore.activeOrganization() != undefined){
  <div class="block">
    <p class="title is-2">Hello!</p>
    <p class="subtitle is-4 has-text-grey">
      {{organizationStore.activeOrganization()!.name}}
    </p>
  </div>

  <div class="block">
    <div class="columns is-multiline">
      <!-- Profit loss widget-->
      <div class="column is-half is-full-mobile">
        <app-profit-loss-summary-widget/>
      </div>
      <!-- Net worth widget-->
      <div class="column is-half is-full-mobile">
        <app-net-worth-summary-widget/>
      </div>
      <!--Expense categories -->
      <div class="column is-full is-full-mobile">
        <app-expense-categories-widget/>
      </div>
    </div>
  </div>
}
