<app-dashboard-widget (refresh)="onRefresh($event)">
  <div slot="header">
    <h3 class="app-dashboard-widget-title">Profit loss</h3>
    <p class="app-dashboard-widget-subtitle">Last {{ dashboardStore.netWorthDaysCount() }} days</p>
  </div>
  <div slot="content">
    <div class="app-level">
      <app-widget-column [amount]="dashboardStore.netWorthSummary()!.totalAssets" [currency]="currency()">
        <p class="app-widget-comment">Total assets</p>
      </app-widget-column>
      <app-widget-column [amount]="dashboardStore.netWorthSummary()!.totalLiabilities" [currency]="currency()">
        <p class="app-widget-comment">Total liabilities</p>
      </app-widget-column>
      <app-widget-column [amount]="dashboardStore.netWorthSummary()!.netWorth" [currency]="currency()">
        <p class="app-widget-comment">Net worth</p>
      </app-widget-column>
    </div>
  </div>
</app-dashboard-widget>
