<div class="block">
  <p class="title is-2">Hello, {{userStore.getDisplayedName()}}</p>
  @if (userOrganizationStore.isActiveOrganizationLoaded()){
    <p class="subtitle is-5">
      {{userOrganizationStore.activeOrganization()!.organization.name}}
    </p>
  }
</div>

@if (userOrganizationStore.isActiveOrganizationLoaded()){
  <div class="block">
    <div class="columns is-multiline">
      <div class="column is-half is-full-mobile">
        <app-profit-loss-widget/>
      </div>
      <div class="column is-half is-full-mobile">
        <app-net-worth-widget/>
      </div>
      <div class="column is-full">
        <app-expense-categories-widget/>
      </div>
    </div>
  </div>
} @else {
  <app-loading-placeholder/>
}
