<div class="dropdown is-right" [class.is-active]="active()">
  <div class="dropdown-trigger">
    <button class="button" type="button" (click)="toggleDropdown()">
      <span class="icon">
        <i class="bx bx-dots-horizontal-rounded"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content">
      <a class="dropdown-item" (click)="onRangeSelected(30)">Last 30 days</a>
      <a class="dropdown-item" (click)="onRangeSelected(60)">Last 60 days</a>
      <a class="dropdown-item" (click)="onRangeSelected(90)">Last 90 days</a>
    </div>
  </div>
</div>
