@if (store.areTransactionsLoaded()) {
  @if (store.transactions().length > 0) {

    <div class="table-container">
      <table class="table is-fullwidth is-bordered is-striped">
        <thead>
          <tr>
            <th>Transaction date</th>
            <th>Description</th>
            <th>Debit</th>
            <th>Credit</th>
          </tr>
        </thead>
        <tbody>
          @for (transaction of store.transactions(); track transaction.id!){
            <tr>
              <td>{{transaction.date|date:'shortDate'}}</td>
              <td>{{transaction.description}}</td>
              <td>{{transaction.totalDebitAmount|currency:transaction.currency!.code}}</td>
              <td>{{transaction.totalCreditAmount|currency:transaction.currency!.code}}</td>
            </tr>

            @for (transactionLine of transaction.lines; track transactionLine.id!){
              <tr>
                <td></td>
                <td>
                  {{transactionLine.account!.code}} -  {{transactionLine.account!.name}}
                </td>
                <td>{{transactionLine.creditAmount|currency:transaction.currency!.code}}</td>
                <td>{{transactionLine.debitAmount|currency:transaction.currency!.code}}</td>
              </tr>
            }

          }
        </tbody>
      </table>
    </div>

  } @else {
    <app-empty-list-placeholder/>
  }
} @else {
  <app-loading-placeholder/>
}
