<div class="block">
  <p class="title is-3">New transaction</p>
</div>

<!-- Error message -->
@if (transactionStore.createError() != undefined){
  <div class="block">
    <app-error-message [message]="transactionStore.createError()!"/>
  </div>
}

<form [formGroup]="form" (submit)="onSubmit()">
  <!-- Date, journal and currency -->
  <div class="columns">
    <div class="column is-half">
      <!-- date -->
      <mat-form-field appearance="outline">
        <mat-label>Transaction date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (form.get('date')?.touched && form.get('date')?.invalid ){
          <mat-error>This field cannot be blank</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="column is-half">
      <!--currency -->
      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currencyId">
          @for (currency of currencyStore.currencies(); track currency.id!){
            <mat-option [value]="currency.id">{{currency.name}}</mat-option>
          }
        </mat-select>

        @if (form.get('currencyId')?.touched && form.get('currencyId')?.invalid ){
          <mat-error>This field cannot be blank</mat-error>
        }

      </mat-form-field>

      <!-- Journal -->
      <mat-form-field appearance="outline">
        <mat-label>Journal</mat-label>
        <mat-select formControlName="journalId">
          @for (journal of journalStore.journals(); track journal.id!){
            <mat-option [value]="journal.id!">{{journal.name}}</mat-option>
          }
        </mat-select>

        @if (form.get('journalId')?.touched && form.get('journalId')?.invalid ){
          <mat-error>This field cannot be blank</mat-error>
        }

      </mat-form-field>
    </div>
  </div>

  <!-- Description -->
  <div class="block">
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      @if (form.get('description')?.touched && form.get('description')?.invalid ){
        <mat-error>This field cannot be empty</mat-error>
      }
    </mat-form-field>
  </div>
  <!-- Transaction lines -->
  <div class="block">
    @if (transactionsLines().length > 0){
      <p class="title is-5">Items</p>
    }
    <!-- Lines -->
    @for (line of transactionsLines(); track $index){
      <app-transaction-line-card
        [line]="line"
        [currency]="displayedCurrency()"
      />
    }
  </div>
  <!-- Add line component -->
  <div class="block">
    <button type="button" matButton="outlined" (click)="onOpenTransactionLineForm()">
      Add new line
    </button>
  </div>
  <!-- Summary -->
  <div class="block">
    <div class="level">
      <div class="level-item">
        <div class="has-text-centered">
          <p class="is-size-5">{{totalDebitAmount()|currency:displayedCurrency()}}</p>
          <p>Debit</p>
        </div>
      </div>
      <div class="level-item">
        <div class="has-text-centered">
          <p class="is-size-5">{{totalCreditAmount()|currency:displayedCurrency()}}</p>
          <p>Credit</p>
        </div>
      </div>
      <div class="level-item">
        <div class="has-text-centered">
          <p
            [class.has-text-success]="balanced()"
            [class.has-text-danger]="!balanced()"
            class="is-size-5 has-text-weight-semibold">{{balance()|currency:displayedCurrency()}}</p>
          <p>Balance</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Buttons -->
  <div class="block">
    <div class="buttons">
      <button
        matButton="filled"
        type="submit"
        [disabled]="form.invalid || !balanced()">Save</button>
      <button type="button" matButton (click)="onCancel()">Cancel</button>
    </div>
  </div>

</form>
