<div class="app-block">
  <h2 class="mat-headline-1">New transaction</h2>
</div>

<form [formGroup]="form" (submit)="onSubmit()">
  <!-- Date and currency -->
  <div class="app-block">
    <div class="app-level">
      <div class="app-level-half">
        <!-- date -->
        <mat-form-field appearance="outline">
          <mat-label>Transaction date</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if (form.get('date')?.touched && form.get('date')?.invalid ){
            <mat-error>This field cannot be blank</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="app-level-half">
        <!--currency -->
        <mat-form-field appearance="outline">
          <mat-label>Currency</mat-label>
          <mat-select formControlName="currencyId">
            @for (currency of currencyStore.currencies(); track currency.id!){
              <mat-option [value]="currency.id">{{currency.name}}</mat-option>
            }
          </mat-select>

          @if (form.get('currencyId')?.touched && form.get('currencyId')?.invalid ){
            <mat-error>This field cannot be blank</mat-error>
          }

        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- Description -->
  <div class="app-block">
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      @if (form.get('description')?.touched && form.get('description')?.invalid ){
        <mat-error>This field cannot be empty</mat-error>
      }
    </mat-form-field>
  </div>
  <!-- Transaction lines -->
  <div class="app-block">
    @if (transactionsLines().length > 0){
      <h4>Items</h4>
    }
    <!-- Lines -->
    @for (line of transactionsLines(); track $index){
      <app-transaction-line-card
        [line]="line"
        [currency]="displayedCurrency()"
      />
    }
  </div>
  <!-- Add line component -->
  <div class="app-block">
    <button type="button" matButton="outlined" (click)="onOpenTransactionLineForm()">
      Add new line
    </button>
  </div>
  <!-- Summary -->
  <div class="app-block">
    <div class="app-level">
      <div class="app-level-item app-text-centered">
        <p class="app-text-xlarge">{{totalDebitAmount()|currency:displayedCurrency()}}</p>
        <p>Debit</p>
      </div>
      <div class="app-level-item app-text-centered">
        <p class="app-text-xlarge">{{totalCreditAmount()|currency:displayedCurrency()}}</p>
        <p>Credit</p>
      </div>
      <div class="app-level-item app-text-centered">
        <p class="app-text-xlarge">{{balance()|currency:displayedCurrency()}}</p>
        <p>Balance</p>
      </div>
    </div>
  </div>
  <!-- Buttons -->
  <div class="app-block">
    <div class="app-buttons">
      <button
        matButton="filled"
        type="submit"
        [disabled]="form.invalid || !balanced()">Save</button>
      <button class="button" matButton (click)="onCancel()">Cancel</button>
    </div>
  </div>

</form>
