<nav class="navbar is-fixed-top has-shadow">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" [class.is-active]="active()" (click)="toggleNavMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" [class.is-active]="active()">
    <div class="navbar-start">
      <a [routerLink]="['/dashboard']" class="navbar-item">Dashboard</a>
      <a [routerLink]="['/accounts']" class="navbar-item">Accounts</a>
      <a [routerLink]="['/transactions']" class="navbar-item">Transactions</a>
    </div>
    <div class="navbar-end">
      <a (click)="logout()" class="navbar-item">Logout</a>
    </div>
  </div>
</nav>
