@if (transactions().length > 0){
  <div class="table-container">
    <table class="table is-fullwidth is-bordered is-striped">
      <thead>
      <tr>
        <th>Date</th>
        <th>Description and accounts</th>
        <th>Debit</th>
        <th>Credit</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th
          [class.has-text-danger]="!balanced"
          [class.has-text-success]="balanced">{{totalDebit|currency:'EUR'}}</th>
        <th
          [class.has-text-danger]="!balanced"
          [class.has-text-success]="balanced">{{totalCredit|currency:'EUR'}}</th>
      </tr>
      </tfoot>
      <tbody>
      @for (transaction of transactions(); track transaction.id!){
        <tr>
          <td>{{transaction.date}}</td>
          <td class="has-text-weight-semibold">{{transaction.description}}</td>
          <td></td>
          <td></td>
        </tr>
        @for (line of transaction.lines; track line.id!){
          <tr>
            <td></td>
            <td>{{line.account!.code}} - {{line.account!.name}}</td>
            <td>
              {{line.debitAmount|currency:transaction.currency!.code}}
            </td>
            <td>
              {{line.creditAmount|currency:transaction.currency!.code}}
            </td>
          </tr>
        }
      }
      </tbody>
    </table>
  </div>
} @else {
  <div class="notification is-info">
    <p>No transactions found</p>
  </div>
}
