<div class="block">
  <p class="title is-2">Organizations</p>
</div>

<div class="block">
  <a class="button is-primary" [routerLink]="['/organizations/create']" [class.is-skeleton]="!store.areUserOrganizationsLoaded()">
    <span class="icon">
      <i class="bx bx-plus"></i>
    </span>
    <span>New</span>
  </a>
</div>

<div class="block" [class.skeleton-block]="!store.areUserOrganizationsLoaded()">
  @if (store.organizations().length > 0){
    @for (organization of store.organizations(); track organization.id){
      <app-organization-card
        [organization]="organization"
        (setActive)="onSetActiveOrganization($event)"
      />
    }
  }
</div>
