<div class="card">

  <div class="card-content">

    <div class="media">
      <div class="media-content">
        <p class="title is-5">Expense categories</p>
        <p class="subtitle has-text-grey is-6">Last {{days()}} days</p>
      </div>
      <div class="media-right">
        <app-widget-range-dropdown (selectRange)="refresh($event)" [loading]="loading()"/>
      </div>
    </div>

    @if (data.length > 0){

      <div class="columns">
        <div class="column is-full">
          @for (category of data; track $index){
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p>{{category.name}}</p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <p>{{category.amount|currency:'EUR'}}</p>
                </div>
              </div>
            </div>
          }
        </div>
      </div>

    } @else {
      <p>No data to show</p>
    }

  </div>
</div>
