<div class="card">
  <div class="card-content">
    <div class="media">
      <!-- Left -->
      <div class="media-left">
        <div class="image is-48x48">
          <img src="{{organizationUser().user.gravatarUrl}}"
               alt="{{organizationUser().user.firstName}}"
               class="is-rounded">
        </div>
      </div>
      <!-- Content -->
      <div class="media-content">
        <!-- Name -->
        <p class="is-size-5">
          <span>{{organizationUser().user.firstName}} {{organizationUser().user.lastName}}</span>
        </p>
        <!-- Role dropdown -->
        <app-user-role-dropdown
          [organizationUser]="organizationUser()"
          (selectRole)="onChangeUserRole($event)"
        />
      </div>
      <!-- Actions -->
      <div class="media-right"></div>
    </div>
  </div>
</div>
