<div class="columns is-vcentered is-size-5">
  <div class="column">
    <p>{{item().account!.code}} - {{item().account!.name}}</p>
  </div>
  <div class="column is-2">
    <p>{{item().debitAmount|currency: 'EUR'}}</p>
  </div>
  <div class="column is-2">
    <p>{{item().creditAmount|currency: 'EUR'}}</p>
  </div>
  <div class="column is-1">
    <button class="button is-danger" type="button" (click)="onDelete()">
      <span class="icon">
        <i class="bx bx-trash-alt"></i>
      </span>
    </button>
  </div>
</div>
