.app-error-message-container {
  padding: 8px;
  border-width: 1px;
  background-color: #EF9A9A;
  border-color: #D32F2F;
  margin-bottom: 16px;
  border-radius: 5px;
}

.app-error-message-container p {
  color: #D32F2F;
}
