<div class="app-sidenav-menu-container">
  @if (store.isAuthenticated()){
    <!-- top menu -->
    <div class="app-sidebar-menu-block">
      <mat-nav-list>
        @for (item of SIDENAV_MENU_ITEMS; track $index){
          <a mat-list-item [routerLink]="item.route">
            <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
            @if (store.isSideMenuOpened()){
              <span matListItemTitle>{{ item.title }}</span>
            }
          </a>
        }
      </mat-nav-list>
    </div>
    <!-- Bottom menu -->
    <div class="app-sidebar-menu-block">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/organizations']">
          <mat-icon matListItemIcon>domain</mat-icon>
          <span matListItemTitle>Organizations</span>
        </a>
        <a mat-list-item (click)="onLogout()">
          <mat-icon matListItemIcon>logout</mat-icon>
          <span matListItemTitle>Logout</span>
        </a>
      </mat-nav-list>

    </div>
  }
</div>
