<div class="app-sidenav-menu-container">
  @if (store.isAuthenticated()){
    <!-- top menu -->
    <div class="app-sidebar-menu-block">
      <mat-nav-list>
        @for (item of SIDENAV_MENU_ITEMS; track $index){
          <a mat-list-item [routerLink]="item.route">
            <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
            @if (store.isSideMenuOpened()){
              <span matListItemTitle>{{ item.title }}</span>
            }
          </a>
        }
      </mat-nav-list>
    </div>
    <!-- Bottom menu -->
  }
</div>
