<div class="card">
  <div class="card-content">

    <div class="media">
      <div class="media-content">
        <p class="title is-5">Profit loss summary</p>
        <p class="subtitle has-text-grey is-6">Last {{dashboardStore.profitLossDaysCount()}} days</p>
      </div>
      <div class="media-right">
        <app-widget-range-dropdown (selectRange)="refresh($event)"/>
      </div>
    </div>

    <div class="level">
      <div class="level-item">
        <div class="has-text-centered">
          <p class="is-size-5 has-text-weight-semibold">{{dashboardStore.profitLossSummary()!.totalIncome|currency:currency()}}</p>
          <p>Total income</p>
        </div>
      </div>
      <div class="level-item">
        <div class="has-text-centered">
          <p class="is-size-5 has-text-weight-semibold">{{dashboardStore.profitLossSummary()!.totalExpenses|currency:currency()}}</p>
          <p>Total expenses</p>
        </div>
      </div>
      <div class="level-item">
        <div class="has-text-centered">
          <p class="is-size-5 has-text-weight-bold">{{dashboardStore.profitLossSummary()!.netProfit|currency:currency()}}</p>
          <p>Net profit</p>
        </div>
      </div>
    </div>

  </div>
</div>
