<div class="card">
  <div class="card-content">

    <div class="media">
      <div class="media-content">
        <p class="title is-5">Profit loss summary</p>
        <p class="subtitle has-text-grey is-6">Last {{days()}} days</p>
      </div>
      <div class="media-right">
        <app-widget-range-dropdown (selectRange)="refresh($event)" [loading]="loading()"/>
      </div>
    </div>

    @if (data() != undefined){
      <div class="level">
        <div class="level-item">
          <div class="has-text-centered">
            <p class="is-size-5 has-text-weight-semibold">{{data()!.totalIncome|currency:'EUR'}}</p>
            <p>Total income</p>
          </div>
        </div>
        <div class="level-item">
          <div class="has-text-centered">
            <p class="is-size-5 has-text-weight-semibold">{{data()!.totalExpenses|currency:'EUR'}}</p>
            <p>Total expenses</p>
          </div>
        </div>
        <div class="level-item">
          <div class="has-text-centered">
            <p class="is-size-5 has-text-weight-bold">{{data()!.netProfit|currency:'EUR'}}</p>
            <p>Net profit</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
