<div class="block">
  <p class="title is-3">Update account</p>
</div>

<div class="block">
  <form [formGroup]="form" (submit)="submit()">
    <!-- Name -->
    <div class="field">
      <label class="label">Account name</label>
      <div class="control">
        <input
          [class.is-success]="form.get('name')?.touched && form.get('name')?.valid"
          [class.is-danger]="form.get('name')?.touched && form.get('name')?.invalid"
          formControlName="name"
          type="text"
          class="input">
      </div>
      @if (form.get('name')?.touched && form.get('name')?.invalid){
        <p class="help is-danger">This field is not valid</p>
      }
    </div>
    <!-- Code -->
    <div class="field">
      <label class="label">Account code</label>
      <div class="control">
        <input
          [class.is-success]="form.get('code')?.touched && form.get('code')?.valid"
          [class.is-danger]="form.get('code')?.touched && form.get('code')?.invalid"
          formControlName="code"
          type="text"
          class="input">
      </div>
      @if (form.get('code')?.touched && form.get('code')?.invalid){
        <p class="help is-danger">This field is not valid</p>
      }
    </div>
    <!-- Account type -->
    <label class="label">Account type</label>
    <div class="tags">
        <span
          [class.is-info]="accountType() == 'ASSET'"
          (click)="setAccountType('ASSET')"
          class="tag is-medium is-clickable">Assets</span>
      <span
        [class.is-info]="accountType() == 'LIABILITY'"
        (click)="setAccountType('LIABILITY')"
        class="tag is-medium is-clickable">Liabilities</span>
      <span
        [class.is-info]="accountType() == 'EQUITY'"
        (click)="setAccountType('EQUITY')"
        class="tag is-medium is-clickable">Equity</span>
      <span
        [class.is-info]="accountType() == 'INCOME'"
        (click)="setAccountType('INCOME')"
        class="tag is-medium is-clickable">Income</span>
      <span
        [class.is-info]="accountType() == 'EXPENSE'"
        (click)="setAccountType('EXPENSE')"
        class="tag is-medium is-clickable">Expense</span>
    </div>
    <!-- Buttons -->
    <div class="block buttons">
      <button class="button is-primary" type="submit" [disabled]="form.invalid" [class.is-skeleton]="loading()">
        Save changes
      </button>
      <button class="button" type="button" (click)="cancel()" [class.is-skeleton]="loading()">
        Cancel
      </button>
    </div>
  </form>
</div>
