<div class="columns">
  <!-- Account -->
  <div class="column">
    <p>{{line().account!.code}} - {{line().account!.name}}</p>
  </div>
  <!-- Debit -->
  <div class="column is-2">
    <p class="is-size-5">{{line().debitAmount|currency:currency()}}</p>
  </div>
  <!-- Credit -->
  <div class="column is-2">
    <p class="is-size-5">{{line().creditAmount|currency:currency()}}</p>
  </div>
  <!-- Delete -->
  <div class="column is-1">
    <button type="button" matIconButton (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
