<div class="modal" [class.is-active]="isActive()">
  <div class="modal-background"></div>
  <form [formGroup]="form" (submit)="submit()" class="modal-card">
    <div class="modal-card-head">
      <p class="modal-card-title">Create new transaction line</p>
      <button class="delete" aria-label="close" type="button" (click)="closeModal()"></button>
    </div>
    <div class="modal-card-body">
      <!-- Account -->
      <div class="field">
        <label class="label">Account</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select formControlName="accountId">
              @for(account of accounts; track account.id!){
                <option [value]="account.id!">{{account.code}} - {{account.name}}</option>
              }
            </select>
          </div>
        </div>
        @if (form.get('accountId')?.invalid ){
          <p class="help is-danger">This field cannot be empty</p>
        }
      </div>
      <!-- Debit -->
      <div class="field">
        <label class="label">Debit amount</label>
        <div class="control">
          <input
            [class.is-success]="form.get('debitAmount')?.touched && form.get('debitAmount')?.valid"
            [class.is-danger]="form.get('debitAmount')?.touched && form.get('debitAmount')?.invalid"
            type="number"
            class="input"
            formControlName="debitAmount">
        </div>
        @if (form.get('debitAmount')?.touched && form.get('debitAmount')?.invalid ){
          <p class="help is-danger">This field cannot be empty</p>
        }
      </div>

      <!-- Credit -->
      <div class="field">
        <label class="label">Credit amount</label>
        <div class="control">
          <input
            [class.is-success]="form.get('creditAmount')?.touched && form.get('creditAmount')?.valid"
            [class.is-danger]="form.get('creditAmount')?.touched && form.get('creditAmount')?.invalid"
            type="number"
            class="input"
            formControlName="creditAmount">
        </div>
        @if (form.get('creditAmount')?.touched && form.get('creditAmount')?.invalid ){
          <p class="help is-danger">This field cannot be empty</p>
        }
      </div>
    </div>
    <div class="modal-card-foot">
      <div class="buttons">
        <button class="button is-primary" type="submit" [disabled]="form.invalid">Create</button>
        <button class="button" type="button" (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </form>
</div>

<button class="button" type="button" (click)="openModal()">
  <span>Add new line</span>
</button>
