<div class="dropdown is-right" [class.is-active]="active()">
  <div class="dropdown-trigger">
    <button type="button" matIconButton (click)="toggleMenu()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content">
      <a class="dropdown-item" (click)="onSelectItem(30)">30 days</a>
      <a class="dropdown-item" (click)="onSelectItem(60)">60 days</a>
      <a class="dropdown-item" (click)="onSelectItem(90)">90 days</a>
    </div>
  </div>
</div>
