<div class="tabs is-toggle">
  <ul>
    <li [class.is-active]="accountStore.displayedAccountsType() == 'ALL'">
      <a (click)="accountStore.setDisplayedAccountsType('ALL')">All accounts</a>
    </li>
    <li [class.is-active]="accountStore.displayedAccountsType() == 'ASSET'">
      <a (click)="accountStore.setDisplayedAccountsType('ASSET')">Assets</a>
    </li>
    <li [class.is-active]="accountStore.displayedAccountsType() == 'LIABILITY'">
      <a (click)="accountStore.setDisplayedAccountsType('LIABILITY')">Liabilities</a>
    </li>
    <li [class.is-active]="accountStore.displayedAccountsType() == 'EQUITY'">
      <a (click)="accountStore.setDisplayedAccountsType('EQUITY')">Equity</a>
    </li>
    <li [class.is-active]="accountStore.displayedAccountsType() == 'INCOME'">
      <a (click)="accountStore.setDisplayedAccountsType('INCOME')">Income</a>
    </li>
    <li [class.is-active]="accountStore.displayedAccountsType() == 'EXPENSE'">
      <a (click)="accountStore.setDisplayedAccountsType('EXPENSE')">Expense</a>
    </li>
  </ul>
</div>
