@if (accounts().length > 0){
  <div class="table-container">
    <table class="table is-fullwidth is-bordered is-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Account name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      @for (account of accounts(); track account.id!){
        <tr>
          <td>{{account.code}}</td>
          <td>{{account.name}}</td>
          <td>
            <a href="#">
              <span class="icon">
                <i class="bx bx-edit-alt"></i>
              </span>
            </a>
            <a href="#">
              <span class="icon">
                <i class="bx bx-trash-alt"></i>
              </span>
            </a>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>
} @else {
  <div class="notification is-info">
    <p>No accounts found. Create a new one or change your search</p>
  </div>
}
